<div class="hero text-light d-flex flex-column align-items-center justify-content-center">
    <div class="heroBox d-flex flex-column align-items-center justify-content-center">
        <h1 class="font">Ristorante Il Gambero Rosso</h1>
        <span class="h5">Anno 1964</span>
        <div class="mt-2 d-flex flex-column flex-sm-row align-items-center justify-content-center">
            <a routerLink="/menu"><button class="btn btn-outline-light me-sm-3">Menu</button></a>
            <a routerLink="/"><button class="btn btn-outline-light mt-2 mt-sm-0">Book a table</button></a>
        </div>
    </div>
</div>