<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="https://cdn.pixabay.com/photo/2016/10/08/18/35/restaurant-1724294_960_720.png" alt="logo" width="35"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 me-auto mb-2 mb-sm-0 d-flex justify-content-between">
                <div class="d-sm-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/order"><button class="btn btn-sm btn-outline-light m-0">Order</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>