<div class="container my-4">
    <div class="row gap-3 gap-sm-0">
        <div class="col-12 col-sm-8">
            <div class="card">
                <div class="card-header fw-bold h6">Order {{ items.length }} items</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of items">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img src="{{ item.image }}" alt="" class="orderImg">
                                <div class="px-3">
                                    <h5>{{ item.name }}</h5>
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                            
                            <p class="fw-bold">{{ item.price }}€</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <div class="card">
                <div class="card-header fw-bold h6">Summary</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <p>Products</p>
                            <p>{{ priceProd.toFixed(2) }}€</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Service</p>
                            <p>{{ priceServ.toFixed(2) }}€</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Discount</p>
                            <p>{{ priceDisc.toFixed(2) }}€</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between fw-bold">
                            <div>
                                <p class="mb-0">Total amount</p>
                                <p>(incl. VAT)</p>
                            </div>
                            <p>{{ priceTotal.toFixed(2) }}€</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
        <div class="d-flex flex-column col">
            <label for="fName">First name:</label>
            <input type="text" id="fName" formControlName="firstName">
        </div>
        <div class="d-flex flex-column col">
            <label for="lName">Last name:</label>
            <input type="text" id="lName" formControlName="lastName">
        </div>
        <div class="d-flex flex-column col">
            <label for="address">Address:</label>
            <input type="text" id="address" formControlName="address">
        </div>
        <div class="d-flex flex-column col">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" formControlName="phone">
        </div>
        <button class="btn btn-outline-success mt-3" type="submit">Order</button>
    </form>
</div>