<div class="container my-3">
    <h1 class="font text-center fw-bold">Ristorante Il Gambero Rosso</h1>
    <div class="row row-cols-1 row-cols-md-2">
        <img class="col" src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
        <div class="col">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, accusantium alias nisi nihil enim blanditiis molestias in nostrum corrupti, veritatis, perspiciatis atque quia porro ea. Saepe accusamus ipsum expedita, harum asperiores deserunt. Quia porro aperiam animi eveniet? Vero sunt repudiandae ipsum alias eos. Aperiam fugit saepe exercitationem, dolores corporis aliquam.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure consequatur, corporis similique velit ex, laudantium dolorem magnam atque adipisci rem unde illo aliquam soluta autem? Dignissimos consequatur nam dolore enim.</p>
        </div>
    </div>
</div>